<!DOCTYPE>

<!-- Menu Principal -->

<html>

  <head>
       <link rel="stylesheet" href="/css/style.css">
      <title>.::Menu Principal::.</title>
  </head>
<header> <h2> Tienda de Discos </h2> </header>

<body>
  <h1>Menu Principal</h1>
  <br><br><br><br>

  <div id="boton"> <%= link_to 'Cliente', '/m_cliente'%> </div>
  <br><br>
  <div id="boton2"> <%= link_to 'Vendedor', '/login'%> </div>
  </body>

  <footer> Tecnològico de Estudios Superiores de Chimalhuacàn (TESCHI) </footer>
</html>
